section.page-archives
  font-size 0.9em
  line-height 1.8em

  h2
    position relative
    display inline-block
    font-size 3rem
    color #555

    span.badge
      position absolute
      top -5px
      right -22px
      font-size 16px
      letter-spacing 0

  .post-date
    serif()
    font-size 0.7em
    text-transform uppercase
    color #aaa

  .post-title
    a
      border-bottom 1px dashed #ddd
      color #666
      font-weight bold

