#page-post
  > header
    color #fff
    border-radius 0
    padding-top 150px

    .post-meta
      ul
        text-align center

      a
        color inherit
  ul
    text-align left

footer.post-footer
  position relative
  padding 50px 0
  sans-serif()
  font-size 0.7em

  .row
    border-top 2px solid #eee

  h4
    margin 15px 0 10px 0
    padding 0
    text-transform uppercase

  ul.social-links
    list-style none
    margin 0
    padding 0

    li
      list-style none
      margin 0
      padding 0
      display inline-block
      text-align center
      margin-right 7px
      font-size 20px
      height 32px
      line-height 32px
      width 32px
      background #f8f8f8
      border-radius 50%

      a
        .fa-twitter
          color cornflowerblue !important
        .fa-github
          color #222
        .fa-stack-overflow
          color darkorange
        .fa-youtube
          color red

.related-posts
  background #F5F7FA
  padding 50px 0
  color #333

#footnotes
  font-size 0.7em
  sans-serif()

section.more-from-category
  position relative
  height 200px
  background url("../img/index-bg.jpg") top right
  background-size cover
  background-repeat no-repeat
  background-position center
  background-attachment fixed
  color #fff
  text-align center

  h5
    font-size 2rem

  em.fas
    font-size 3em

  .col-12
    padding 50px 0