body
  sans-serif()
  font-weight 400
  font-size 1rem
  color #444
  overflow-x hidden

h1,h2,h3,h4
  font-family 'Source Sans Pro', sans-serif
  font-weight 700
  font-size 3.5rem
  letter-spacing -1px

h2
  font-size 2.5rem

h3
  font-size 1.5rem

h4
  font-size 1.2rem

header.jumbotron
  position relative

.color-orange
  color #ffb51e

.mark
  background #ffd88b
  padding 4px 6px
  color #232323

a.category
  text-decoration none
  display inline-block
  padding 5px 10px
  text-transform uppercase
  background #ffd100
  color #292929
  font-weight bold
  line-height 1.2rem
  font-size 1rem

.post-meta
  ul
    text-align left
    list-style none
    margin 0
    padding 0
    font-size 0.9rem

    li
      list-style none
      display inline-block
      &::after
        content ' / '
        color #ccc
        padding 0 5px
      &:last-child
        &::after
          content ''

.container
  position relative
  z-index 10

.mask
  background linear-gradient(to top, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0) 90%) !important
  position absolute
  width 100%
  height 100%
  left 0
  bottom 0

.imageblock
  margin 20px 0
  display inline-block

.get-the-book
  roboto()
  font-size 16px
  background #fafafb
  width: 100vw
  margin-left 50%
  transform translateX(-50%)
  padding 40px 0

  h3
    margin 30px 0 !important
    padding 0 !important

  .description
    margin 0 0 20px 0
    padding 0

  .affiliate-info
    margin-top 20px
    color #888
    font-size 0.9em
    serif()

    i.fas
      margin-right 10px

.formkit-form
  margin 40px auto !important
  //box-shadow #e3e3e3 0 0 10px !important
  //border 1px solid #ddd !important
  max-width 100% !important
  background #fafafa !important
  sans-serif()

  input
    padding 10px !important

  .formkit-column
    padding 30px !important

  .formkit-background
    border-right 1px solid #ddd !important

  .formkit-disclaimer
    p
      text-align center

  h1
    text-align center
    color #777 !important
    font-size 1.8rem !important
    font-weight 900 !important
    padding 0 0 0 0 !important
    margin 0 !important
    line-height 2.2rem



.fa-twitter
  color #1889ba

.fa-github
  color #222

.fa-stack-overflow
  color #d07500

.fa-youtube
  color #cb0909
