.card
  background transparent !important

  .card-body
    background #fcfcfc
    font-size 14px
    text-align justify

    .post-meta
      ul
        font-size 0.9em !important
        color #777

  .card-header
    height 200px
    position relative
    background-size cover
    background-position top left
    background-repeat no-repeat

    .time
      color #fff
      font-size 13px
      padding 3px 7px
      background rgba(0,0,0,0.6)
      display inline-block
      font-weight bold
      border-radius 5px
      position absolute
      bottom 10px
      right 10px

    .fa-youtube
      font-size 82px
      opacity 0.5
      color #fafafa
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)

    h2,h3,h4
      position absolute
      bottom 10px
      max-width 90%
      z-index 1

      div.title
        padding 10px

  .faded-text
    max-height 300px

.jumbotron
  .card
    box-shadow none !important
    border none !important
    background linear-gradient(to bottom, rgba(0,0,0,0.5) 50%, rgba(0, 0, 0, 0) 90%) !important

  .card-body
    height 250px
    position relative
    overflow hidden
    background linear-gradient(to bottom, #f3f3f3 50%, rgba(0, 0, 0, 0) 90%) !important
    -webkit-background-clip text !important
    -webkit-text-fill-color transparent !important

    .post-meta
      font-weight 700