color-orange = #ffb51e
color-red = #c10000
color-gray-blue = #f8f9fa
color-bubble-speech = #e5eff5

.color-orange
  color color-orange !important

.color-red
  color color-red !important

.bg-gray-blue
  background color-gray-blue