color-orange = #ffb51e
color-reddit = #ff5700
color-light-orange = #ffebc8
color-red = #c10000
color-gray-blue = #f8f9fa
color-bubble-speech = #e5eff5
color-black = #333
color-gray = #888
color-light-blue = #f7fafc
color-light-purple = #bdcfe0
color-dark-purple = #3d4750
color-linkedin = #0082bf
color-blue = #5c9be7
color-green = #66fc7d
color-yellow = #fff200

.color-orange
  color color-orange !important

.color-red
  color color-red !important

.color-gray-blue
  color color-gray-blue !important

.color-bubble-speech
  color color-bubble-speech !important

.color-black
  color color-black !important

.color-light-blue
  color color-light-blue !important

.color-light-purple
  color color-light-purple !important

.color-dark-purple
  color color-dark-purple !important

.color-linkedin
  color color-linkedin !important

.color-green
  color color-green !important

.color-yellow
  color color-yellow !important

.color-blue
  color color-blue !important

.color-gray
  color color-gray !important

.color-reddit
  color color-reddit !important

.bg-gray-blue
  background color-gray-blue !important

.bg-bubble-speech
  background color-bubble-speech !important

.bg-light-blue
  background color-light-blue !important

.bg-light-orange
  background color-light-orange !important


//colors = {
//  orange: #ffb51e,
//  red: #c10000,
//  gray-blue: #f8f9fa,
//  bubble-speech: #e5eff5,
//  black: #333,
//  light-blue: #f7fafc,
//  light-purple: #bdcfe0,
//  dark-purple: #3d4750,
//  linkedin: #0082bf
//}

//for name, color in colors
//  .color-{name}
//    color color !important
//  .bg-{name}
//    background color !important