@import "../js/agate.css"
@import "mixins.styl"
@import "colors.styl"

.listingblock
  font-size 0.9em
  margin 20px 0 30px 0
  border-top-left-radius 4px
  border-top-right-radius 4px

  > .title
    roboto()
    color #475e84
    font-size 0.8em
    padding 4px 10px 4px 15px
    background #d8d8da
    border-top-left-radius 4px
    border-top-right-radius 4px
    overflow-x hidden
    white-space nowrap

    &::before
      color: #868686;
      content: "× ○ ● ";
      font-size: 1em;
      line-height: 1.2
      margin-right 5px

  pre
    border-radius 0

  code
    monospace()
    border-radius 0

  .hljs
    padding 15px
    font-weight 400
    line-height 1.5
    border-radius 0

    @media only screen and (max-width: 767px)
      font-size 0.9em

  .hljs-keyword, .hljs-selector-tag, .hljs-deletion
    font-weight 700

  .hljs-number
    color color-yellow

.conum[data-value]
  sans-serif()
  display inline-block
  color #fff !important
  background-color rgba(0, 0, 0, .8)
  -webkit-border-radius 100px
  border-radius 100px
  text-align center
  font-size 1em
  width 1.67em
  height 1.67em
  line-height 1.67em
  font-style normal
  font-weight bold
  margin-right 5px

.conum[data-value] *
  color #fff !important

.conum[data-value] + b
  display none

.conum[data-value]:after
  content attr(data-value)

.colist .conum[data-value]
  font-size 0.7em

p > .conum[data-value]
  font-size 0.7em

