
#index
  .jumbotron
    border-radius 0
    background url("../img/index-bg.jpg") top right
    position relative
    background-size cover
    color #fff

  .card
    background transparent !important

    .card-header
      height 200px
      position relative
      background-size cover

      h2
        position absolute
        bottom 10px
        background rgba(0, 0, 0, 0.4)
        padding 10px
        max-width 90%