
.jumbotron
  padding-top 150px
  border-radius 0
  background url("../img/index-bg.jpg") top right
  position relative
  background-size cover
  color #fff

code
  background #ebf2f6
  color #4271ae
  padding 3px 6px
  border-radius 5px
  font-size 0.7em

article.post-content
  font-family 'Lora', 'Times New Roman', serif
  font-weight 400
  font-size 20px
  color #4a4a4a
  line-height 1.6
  text-align justify

  h2, h3, h4, h5, h6
    margin 3rem 0 1.5rem 0
    text-align left

.img-lazyload-container
  display inline-block

.admonitionblock { margin: 20px 0; background: #fafafa; padding: 15px; text-align: left;  }
.admonitionblock>table{border-collapse:separate;border:0;background:none;width:100%;table-layout: fixed;}
.admonitionblock>table td.icon{text-align:center;width:80px}
.admonitionblock>table td.icon img{max-width:none}
.admonitionblock>table td.icon .title{font-weight:bold;font-family:"Open Sans","DejaVu Sans",sans-serif;text-transform:uppercase}
.admonitionblock>table td.content{padding-left:1.125em;padding-right:1.25em;border-left:1px solid #ddddd8;color:rgba(0,0,0,.6);overflow:auto;}
.admonitionblock>table td.content>:last-child>:last-child{margin-bottom:0}

.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}