tablet = "(min-width: 768px) and (max-width: 979px)"
phone = "(max-width: 767px)"

serif()
  font-family 'Lora', 'Times New Roman', serif

.serif
  serif()

roboto()
  font-family "Roboto", sans-serif

sans-serif()
  font-family 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important

.sans-serif
  sans-serif()