serif()
  font-family 'Lora', 'Times New Roman', serif

.serif
  serif()

roboto()
  font-family "Roboto", sans-serif

sans-serif()
  font-family 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important

.sans-serif
  sans-serif()