#header
  transition all 0.5s

  .navbar-collapse
    font-weight 700

  &:not(.scrolled)
    color #fff !important

    a
      color #fff

      &:hover
        color #999

  em.fa
    display inline-block
    height 28px
    line-height 28px
    padding 0
    margin 0
    width 28px
    font-size 18px
    background #f4f4f4
    border-radius 50%
    text-align center

  .fa-twitter
    color #1889ba

  .fa-github
    color #222

  .fa-stack-overflow
    color #d07500

  .fa-youtube
    color #cb0909