.page-text
  padding 120px 0 50px 0

  h1
    margin-bottom 30px

.support-me-page
  font-size 1rem

  >.jumbotron
    background-image url("/images/bg/support-me.jpg")
    padding-top 200px
    font-size 1.1rem

  >section
    padding 3rem 0

    h2
      color #a8aaaa
      margin-top 2rem

  .sponsor
    background #f4f7f7

  ul.expenses
    list-style none
    padding 10px
    margin 0
    background #fff9e7
    color #938a82

    li
      list-style none
      padding 0
      margin 5px 0

.start-here-page
  font-size 1rem

  >.jumbotron
    background #ffba30
    background-image: linear-gradient(to top, #dc9900 0%, #ffd68d 80%);
    padding-top 200px
    font-size 1.1rem
