extends partial/base

include partial/post-preview

block description
    meta(name="description", content="All posts in category " + page.category)
    meta(name="keywords", content=page.category)

block site_title
    = "Posts in category '" + page.category + "' | " + config.title

block header
    include partial/category-header

block content
    div(class="container", role="main")
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                .posts-list
                    - page.posts.each(function (post) {
                    +post_preview(post)
                    - })

                include partial/pagination

    script(async id="dsq-count-scr", src="//#{theme.comment.id}.disqus.com/count.js")
