extends layout/base

block variables
    - var category = site.categories.findOne({name: page.category});
    - var data = site.data[category.slug] || {}

block footer_ad
    +ad_banner((data.ads || {}).footer || site.data.footer.ad)

block site_title
    = page.category

block content
    - var recommended = data.recommended ? site.posts.find({slug: {$in: data.recommended}}).toArray().sort((a,b) => data.recommended.indexOf(a.slug) - data.recommended.indexOf(b.slug)) : []
    - var ads = data.ads || {}

    main#page-category(role="main")
        section.jumbotron.text-center.pb-5(style= data.cover ? "background-image: url('" + data.cover + "')" : "")
            .mask
            .container
                h1.text-underline-warning.pb-2 #{category.name}

                if recommended.length > 0
                    h2.h2.py-3 Most popular posts
                    .card-deck
                        each post in recommended
                            +post_card(post, {category: true})

        if data.youtube
            section.py-md-5.pb-1.pt-3.youtube-videos.bg-light-blue
                .container
                    h3.h1.text-center.mb-md-5.mt-md-0.my-4.color-light-purple
                        | Watch my
                        |
                        b.d-md-inline.d-block.ml-1.color-black #[em.fa.fa-youtube] #[b YouTube]
                        |
                        | videos
                    .card-deck
                        each video in data.youtube
                            +youtube_card(video.id, video)


        section.pt-5.serif#list
            .container
                .row
                    .col-12.text-center
                        h3.h1.text-center.mb-md-5.mt-md-0.my-4.color-light-purple Latest blog posts

                    .col-12.col-lg-10
                        each post in page.posts.toArray()
                            article.list-elem.pr-3
                                h3=post.title
                                div.text-justify.excerpt!=post.excerpt
                                div.text-muted.sans-serif
                                    +post_meta(post, { 'date-class': 'mark font-weight-bold'})
                                a.stretched-link(href=url_for(post.path))

                        if page.total > 1
                            nav.paginator.pb-4
                                !=paginator({ prev_text: '<i class="fa fa-angle-left"></i>', next_text: '<i class="fa fa-angle-right"></i>', escape: false, format: "page/%d/#list" })

                    .col-md-2.d-none.d-md-block
                        if ads.column
                            +ad_banner(ads.column)

                    if ads.bottom
                        .col-12.d-md-none.d-block.text-center.pt-2.pb-5
                            +ad_banner(ads.bottom)