extends layout/base

block variables
    - var header_class = "bg-white navbar-light shadow-sm scrolled"

block site_title
    = page.title

block content
    section.page-text
        .container
            article.post-content
                h1=page.title

                != page.content