extends layout/base

block site_title
    = page.title

block structured_data
    != structured_data(page, config)

block content
    main#page-post
        header.jumbotron.text-center.pb-5(style="background-image: url('" + url_for(page.cover) + "')")
            .mask
            .container.pt-5.pb-1
                - page.categories.each(category => {
                    a.category.mark(href=url_for(category.path))=category.name
                - })
                h1.mt-2.mt-md-0=page.title
                +post_meta(page)

        article.post-content(role="article")
            .container
                .row
                    .col-12.offset-0.col-md-10.offset-md-1.pt-4.pt-md-5
                        != page.content

                    include post/meta

            include post/footer

    include post/related

    include post/comments

    script.
        var _a = !{JSON.stringify(page.floating || {})};
        var _b = {
            id: "learn-anything-jjkw2",
            src: "/images/yml/learn-anything-float.jpg",
            url: "https://click.linksynergy.com/fs-bin/click?id=uow2LCEuhvQ&offerid=507388.1628&subid=0&type=4",
            name: "Learn Anything Floating"
        };
        var udemy = { id: _a.id || _b.id, src: _a.src || _b.src, url: _a.url || _b.url, name: _a.name || _b.name }
