extends layout/base

block site_title
    = "Support me"

block content
    section.start-here-page
        section.jumbotron.text-justify.pb-5
            .container
                h1.my-3.text-center Welcome to e.printstacktrace.blog!

                p I hate annoying ads and popups showing up a few seconds after visiting a website. That is why I decided to keep my blog free from those annoying elements. I care about excellent user experience, and my goal is to offer you one that can be compared to reading an ebook. No distracting banners, no ads, no stupid popups. Just clean and well-formatted content.




