include ../_mixins
block variables
doctype
html(lang=config.language)
    head
        include head
    body(class="layout-" + page.layout)

        include nav

        block content

        include footer

        include scripts