header.header-section
    .intro-header(style='background-image: url(' + (config.category.header[page.category] || theme.index_cover) + ');')
        .container
            .row
                .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                    .page-heading
                        h1!= page.category
                        hr.small
                        span.page-subheading
                            span.number=site.categories.findOne({name: page.category}).posts.length
                            span!=" posts in the category"
        span.img-desc
