.disqus-comments
  .comments
      #disqus_thread
          #disqus_empty(style="display:none") Empty

script.
    function load_disqus( disqus_shortname ) {
        var is_disqus_empty = document.getElementById('disqus_empty');

        if (document.contains(is_disqus_empty)) {
            var disqus_target = document.getElementById('disqus_thread'),
            disqus_embed      = document.createElement('script'),
            disqus_hook       = (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]);

            if (disqus_target && is_disqus_empty) {
                is_disqus_empty.remove();

                disqus_embed.type = 'text/javascript';
                disqus_embed.async = true;
                disqus_embed.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                disqus_hook.appendChild(disqus_embed);
            }
        }
    }

    window.addEventListener('scroll', function(e) {
        var currentScroll = document.scrollingElement.scrollTop;
        var disqus_target = document.getElementById('disqus_thread');

        if (currentScroll > disqus_target.offsetTop - 500) {
            load_disqus('#{theme.comment.id}');
        }
    }, false);
