script(async src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(async src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(async id="cookiebanner", src="//cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.2/cookiebanner.min.js", data-moreinfo="/privacy-policy/", data-message="This blog uses cookies to enhance your experience. By continuing to visit it you agree to its use of cookies.", data-link="#ffad33", data-font-family="Lora,serif", data-font-size="1.6rem", data-bg="#444")
script(src=url_for("/js/main.js?v=" + config.version.js))

if page.highlightjs
    script(src=url_for("/js/highlight.pack.js?v=9.18.1"))
    script hljs.initHighlightingOnLoad();

include google_analytics

if page.affiliates
    div(id="amzn-assoc-ad-43b3fa6d-ffc7-44a2-84ce-6364ef258da9")
        script(async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=43b3fa6d-ffc7-44a2-84ce-6364ef258da9")
