script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src=url_for("/js/main.js?v=" + config.version.js))

if theme.highlight.enable
    script(src=url_for("/js/highlight.pack.js"))
    script hljs.initHighlightingOnLoad();

include google_analytics
