nav.navbar.navbar-default.navbar-fixed-top.navbar-custom
    .container-fluid
        .navbar-header
            button(class="navbar-toggle", type="button", data-toggle="collapse", data-target="#main-navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(class="navbar-brand", href=url_for())
                span= config.title
        #main-navbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                each value, key in theme["navbar-links"]
                    li
                        a(href=url_for(value))!= key
                li
                    include stack-overflow
                li
                    a(href="https://twitter.com/wololock")
                        img(src="https://badgen.net/twitter/follow/wololock")
                li
                    a(href="https://circleci.com/gh/wololock/wololock.github.io/tree/develop")
                        img(src="https://badgen.net/circleci/github/wololock/wololock.github.io/develop?icon=circleci&label")
