ul.pager.main-pager
    if page.prev
        li.previous
            a(class="btn btn-default", href=url_for(paginated_url(page.path, config.pagination_dir, page.prev)))!='&larr; Previous page'
    if page.next
        li.next
            a(class="btn btn-default", href=url_for(paginated_url(page.path, config.pagination_dir, page.next)))!='Next page &rarr;'
