mixin post_meta(date, tags)
    p.post-meta!= "Posted on "
        time(datetime=date_xml(date), itemprop="datePublished")!= full_date(date, "MMM D, YYYY")
        if (typeof tags) !== "undefined"
            - tags.each(function(tag){
                = ' · '
                a.tag.post-meta(href=url_for(tag.path))= tag.name
            - })



