h2="Thank you!"
p
    | If you read up to this point - leave me a comment below so I can thank you in person for such an engagement.
    | You can also share this blog post on
    |
    != link_to('https://twitter.com/intent/tweet?text="' + page.title + '" ' + page.permalink + ' via @wololock', 'Twitter', {external: true})
    | ,
    |
    != link_to('https://www.facebook.com/sharer/sharer.php?u=' + page.permalink + '&t=' + page.title, 'Facebook', {external: true})
    | , or
    |
    != link_to('https://www.linkedin.com/sharing/share-offsite/?url=' + page.permalink + '&title=' + page.title, 'LinkedIn', {external: true})
    | if you think other people can also benefit from reading it. Thanks in advance!
p
    | <b>PS:</b> Creating high-quality content takes a lot of time and effort.
    | I want to deliver the best possible value to my readers and keep the blog <b>ad-free</b>.
    | Please take a look at this dedicated page where I listed a few different options to <a href="/support-me" class="ga-track">support my work</a>.
    | If my vision for the <em>e.printstacktrace.blog</em> development resonates with you, I will be grateful if you consider helping me in this journey. Thank you!



