header.header-section
    .intro-header(style='background-image: url(' + theme.index_cover + ');')
        .container
            .row
                .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                    .page-heading
                        h1!= page.tag
                        hr.small
                        span.page-subheading!="All posts tagged with " + page.tag
        span.img-desc
