extends common/base

block main
    .jumbotron.m-0.border-dark.border-bottom
        .container
            .row
                .col-12.col-lg-4.order-1
                    .p-5.m-4
                        img.img-fluid.rounded-circle.mt-5(src="/images/face.jpg")
                .col-12.col-lg-8.order-0
                    .mt-5
                        h1 Thanks for subscribing!

                        p.sans-serif.mt-4
                            | Your email is now confirmed and you are now the newest #[b member] of the e.printstacktrace.blog community - a&nbsp;friendly place for every software developer. Welcome aboard! 😀

                        p.sans-serif
                            | I'm happy you decided to join my newsletter. I will be sending you updates from the blog and the YouTube channel, plus some other interesting materials worth checking, and bonuses I share only with the community via mailing list. I hope you will find them useful.

                        p.sans-serif
                            | Have a good day, talk soon!

                        img.d-block.mx-auto.mx-lg-0(src="/images/sig.png" height=80)