.youtube-box.py-4
    .container
        .row
            .col-12.col-md-6.offset-md-1.offset-0.pr-md-5.order-1.order-md-0
                h4 #{video.title}
                p.desc #{video.description}
                p.text-center.pt-3
                    a.btn.btn-danger.text-white(href="https://www.youtube.com/watch?v=" + id) Watch now

            .col-12.col-md-4.order-0.order-md-1
                .card.shadow.mb-4.mb-md-0
                    .card-header(itemprop="image" style="background-image: url('https://i3.ytimg.com/vi/" + id + "/mqdefault.jpg')")
                        div.time=video.time
                        em.fa.fa-youtube
                    a.stretched-link(href="https://www.youtube.com/watch?v=" + id)