section.archive
  h1
    font-size 8rem
    line-height 0.8
    position relative
    z-index 20
    font-weight 900
    margin 0
    padding 0
    letter-spacing -2px
    //color #5a8ba5
    //font-family "Poppins" !important

    //&::after
    //  content attr(title)
    //  font-family "Poppins"
    //  position absolute
    //  font-size 15rem
    //  color #fbfbfb
    //  z-index -20
    //  top -50%
    //  left -10%
    //  letter-spacing -10px

  a
    color #555

  h2
    font-weight 900
    font-size 20px
    serif()

  .post-meta
    color #aaa

    a
      color inherit

  .small
    font-size 13px
    line-height 1.4