serif()
  font-family "Lora", serif !important

sans-serif()
  font-family "DM Sans", sans-serif !important

body
  font-size 18px
  color #444
  sans-serif()

a
  color #2c7891

h1,h2,h3,h4,h5
  serif()
  font-weight 800
  margin 2rem 0 2rem 0
  letter-spacing -1px

.header-sans
  font-family "Poppins" !important
  letter-spacing -2px

.sans-serif
  sans-serif()

.serif
  serif()

h1
  font-size 3rem

h2
  font-size 2.5rem

h3
  font-size 2rem

h4
  font-size 1.5rem

h5
  font-size 1rem

@media phone
  h1
    font-size 2.2rem
    line-height 1.5
  h2
    font-size 1.8rem
  h3
    font-size 1.4rem
  h4
    font-size 1rem

p
  line-height 180%

pre,code
  font-family 'DM Mono', monospace;


code
  background #e8eff6
  color #2d86ab
  padding 1px 6px
  border-radius 4px
  //font-size 75%
  //font-family "Source Code Pro", monospace


.mark
  //box-shadow inset 0 -5px 0 rgba(247,206,24,.8)
  background-color transparent
  background-image linear-gradient(180deg,transparent 55%, #ffeabe 60%, #ffeabe 90%, transparent 0)


.marker
  text-transform uppercase
  display inline-block
  color #222 !important
  background #ffc96c
  font-weight 700
  font-size 14px
  font-family "Montserrat"
  padding 3px 6px


.mark-2
  display inline-block
  color #222 !important
  background #ffc96c
  font-weight 700
  padding 3px 6px

.border-short
  posi
  &::after
    content ''
    width 10%
    height 4px
    background #eee
    display block
    margin 3rem auto

.color-orange
  color #ffc96c

ol.about-facts
  list-style none
  counter-reset number
  padding 0

  > li
    counter-increment number
    position relative
    padding 0.5rem 0 0.5rem 72px
    margin 0 0 1.5rem 0

    @media phone
      padding-top 0

    p
      margin-left 40px
      z-index 1
      position relative


    &:before
      serif()
      letter-spacing -2px
      content counter(number)
      font-weight 700
      font-size 32px
      color #525b6e
      position absolute
      top -5px
      left 0
      z-index 0
      background #232d41
      width 50px
      height 50px
      line-height 50px
      text-align center
      display inline-block
