ul.social-media
  font-family "Roboto" !important
  list-style none
  margin 0
  padding 0
  font-size 20px

  li
    list-style none
    padding 0
    display inline-block

    & + li
      margin-left 12px

    a
      color #aaa

      &:hover
        text-decoration none

      i.fa
        display block
        font-size 24px
        height 40px
        line-height 40px
        width 40px
        text-align center
        //background #fff
        border-radius 50%
        margin 0 auto 2px auto
        transition all 0.3s
        //box-shadow #ddd 0 0 5px
        color #99a9c8

        &:hover
          transform scale(1.2) rotate(360deg)

      span.number
        font-weight 700
        font-size 18px
        line-height 20px
        display block
        text-align center
        color #99a9c8

      span.description
        font-size 11px
        text-align center
        display block

#latest
  h2
    font-size 48px
    font-weight 700
    letter-spacing -2px
    font-family "Poppins" !important
    color #dedede

  a
    color #2f3737