.bg-dark
  background #1a202c !important
  color #fafafa !important

  a
    color #ffc96c

.bg-dark-2
  background #232d41 !important
  color #fafafa !important

  a
    color #ffc96c

.jumbotron
  //background #3d414f
  background #1a202c
  //background #23364f !important
  //background #fafafa !important
  color #fff
  border-radius 0
  position relative
  background-size cover

  .container
    z-index 1

  .mask
    background-image linear-gradient(to top, rgba(0,0,0,0.9) 40%, rgba(0,0,0,0.2) 100%)
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index 0

.jumbotron-home
  background-image url("/images/bg/index-header2.jpg")

.category-groovy-cookbook
  background-image url("/images/bg/groovy-cookbook.jpg")

.category-programmers-bookshelf
  background-image url("/images/bg/programmers-bookshelf-bg.jpg")

.jumbotron-category
  h1
    position relative
    color #eee
    //text-transform uppercase
    //color #222 !important
    //background #ffc96c
    font-weight 700
    //font-size 14px
    //font-family "Poppins" !important
    display inline-block
    //padding 3px 6px
    //font-size 18px
    letter-spacing -2px

    //&::after
    //  content ""
    //  height 3px
    //  width 200px
    //  background-image linear-gradient(90deg, #eee 20%, transparent 100%)
    //  position absolute
    //  bottom 0px
    //  left 0

  a
    color #8ecae7