@import "../js/highlightjs/styles/monokai.css"

pre.highlightjs
  margin 0 0 2em 0
  box-shadow #eee 10px 10px 0
  transition all 0.3s
  position relative
  //z-index 999

  //&:hover
  //  transform scale(1.3)
  //  z-index 1000

  .hljs
    background #2f3737
    color #d4e3ec
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale


  code
    font-size 15px
    line-height 22px
    padding 10px 16px
    border-radius 0px
    z-index 2000

    .hljs-keyword
      color #c49964
    .hljs-meta
      color yellow
    .hljs-number
      color #9fbff8
    .hljs-attr
      color #afd763

.listingblock
  &> .content
    position: relative

  code[data-lang]
    &::before
      font-family "Roboto", sans-serif
      display none
      content attr(data-lang)
      position absolute
      font-size .75em
      top .425rem
      right .5rem
      line-height 1
      text-transform uppercase
      color #999

      ~/:hover ^[1..2]
        display block

.conum[data-value]
  sans-serif()
  display inline-block
  color #fff !important
  background-color rgba(0, 0, 0, .8)
  -webkit-border-radius 100px
  border-radius 100px
  text-align center
  font-size 14px
  width 1.67em
  height 1.67em
  line-height 1.67em
  font-style normal
  font-weight bold
  margin-right 5px

.conum[data-value] *
  color #fff !important

.conum[data-value] + b
  display none

.conum[data-value]:after
  content attr(data-value)

.colist .conum[data-value]
  font-size 0.7em

p > .conum[data-value]
  font-size 0.7em