desktop = tablet = "(min-width: 978px)"
tablet = "(min-width: 768px) and (max-width: 979px)"
phone = "(max-width: 767px)"

font-awesome()
  font-family "FontAwesome"

serif()
  font-family "Lora", Arial, Helvetica, sans-serif !important

sans-serif()
  font-family "Roboto", sans-serif !important