highlight-background = #2d2d2d
highlight-current-line = #393939
highlight-selection = #515151
highlight-foreground = #cccccc
highlight-comment = #777
highlight-red = #f2777a
highlight-orange = #f99157
highlight-yellow = #ffcc66
highlight-green = #99cc99
highlight-aqua = #66cccc
highlight-blue = #6699cc
highlight-purple = #cc99cc

article
  text-align justify

  .container
    .row
    // Responsive Images
      img
        max-width 100% !important
        height auto
        display inline-block
      .video-container
        position relative
        padding-bottom 56.25%
        padding-top 30px
        height 0
        overflow hidden
        iframe, object, embed
          position absolute
          top 0
          left 0
          width 100%
          height 100%
          margin-top 0
      blockquote
        font-style italic
        font-family font-serif
        font-size 1.2em
        padding 0 30px 15px
        text-align center
        footer
          border-top none
          font-size 0.8em
          line-height 1
          margin 20px 0 0
          padding-top 0
          cite
            &:before
              content '—'
              color #ccc
              padding 0 0.5em

      .pullquote
        float right
        border none
        padding 0
        margin 1em 0 0.5em 1.5em
        text-align left
        width 45%
        font-size 1.5em
        &.left
          float left

  .post-tags
    font-size 1.4rem
    font-family "Open Sans", "DejaVu Sans", sans
    font-weight 700
    text-align center
    padding 3rem 0

    a
      background color-orange
      padding 5px 10px
      color #fafafa
      text-transform lowercase
      display inline-block
      margin 5px
      border-radius 20px
      box-shadow #eee 4px 2px 0px

      &:hover, &:active
        text-decoration none
        border-bottom none
        background brand-primary
        transition ease 0.5s
        color #fff


  footer.post-footer
    position relative
    margin 8rem 0 3rem 0
    text-align center

    .author
      padding 80px 0px 20px 0px
      border-top #ebf2f6 5px solid
      background #fcfcfc

    .img-circle
      position absolute
      top 0
      left 50%
      width 120px
      margin -60px 0 0 -60px
      box-shadow #ccc 0 5px 5px
      border 1px solid #fafafa

    h4
      color #777a77
      font-size 2.8rem
      margin 0 0 10px 0
      display inline-block
      padding 5px 20px
      text-align center
    p
      margin 1rem 0
      font-size 1.8rem
      line-height 1.7em
      color #666

      @media only screen and (max-width: 767px)
        font-size 1.6rem


    ul.social-links
      list-style none
      margin 0
      padding 10px 0

      @media only screen and (max-width: 767px)
        margin-top 20px

      li
        list-style none
        display inline-block
        margin 3px 8px

        a
          margin 0
          color color-social-link
          font-size 3rem

          @media only screen and (max-width: 767px)
            font-size 2.1rem

      li:first-child
        margin-left 0

  section.related-posts
    border-bottom 1px solid #eee
    margin-bottom 20px

    a
      color inherit
      text-decoration none
      &:hover
        color brand-primary

    h2
      color #aaa
      text-align center
      margin 5rem 0
    h3
      margin 0
      padding 20px 0
      font-size 1.8rem
      line-height 2.2rem
    p
      font-size 1.4rem
      line-height 2.3rem
      text-align justify
      margin 0
      padding 0 0 30px 0
    div.col-lg-4:nth-child(2)
      background #fcfcfc


.pagination
  width 100%
  margin 10px auto
  padding 0

.disqus-comments
  margin-top 20px

figure.highlight
  background #333
  margin-top 15px
  padding 7px 15px
  border-radius 2px
  line-height 1.6
  overflow auto
  position relative
  font-size 1em
  color color-meta
  font-family font-mono
  figcaption
    color color-meta
    margin-bottom 5px
    text-shadow 0 0 1px #fff
    a
      position absolute
      right 15px

  pre
    border none
    padding 0
    margin 0
    background none

  table
    margin-top 0
    border-spacing 0

    .gutter
      padding-right 15px
      text-align right
      pre
        color color-gutter

    .code
      padding-left 7px
      color #aaa

    .line
      height: 20px
      font-family font-mono

    .line.marked
      background: #aaa

pre
  color color-meta
  .comment
    color highlight-comment
    font-style italic
    
  .title
    color color-meta

  .function .title
    color highlight-yellow
    
  .function .params
    color color-meta

  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .css .pseudo
    color highlight-red

  .number
  .preprocessor
  .built_in
  .literal
  .params
  .constant
    color highlight-blue

  .class
  .ruby .class .title
  .css .rules .attribute
    color: highlight-green

  .string
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
    color highlight-green

  .css .hexcolor
    color highlight-aqua

  .function
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title
    color highlight-blue
    
  .keyword
  .javascript .function
    color highlight-orange
    font-weight 700

  .meta
    color highlight-yellow

