@import "variables.styl"
@import "mixins.styl"


body
  @extend .serif
  font-size 20px
  color gray-dark

p
  line-height 1.5
  margin 30px 0

.color-red
  color color-red

a.category
  @extend .sans-serif
  display inline-block
  padding 5px 10px
  background color-yellow
  color color-black
  text-transform uppercase
  text-decoration none
  font-weight 700
  font-size 1.4rem
  transition ease 0.5s
  margin-right 10px

  &:hover,&:focus
    background none
    color #fff

h1, h2, h3, h4, h5, h6
  @extend .sans-serif
  font-weight 800

p
  a
    color brand-primary
    text-decoration none
    border-bottom 1px dashed brand-primary
    &:hover, &:focus
      color brand-primary-hover
      text-decoration none
      border-color brand-primary-hover
      transition ease 1s

hr.small
  max-width 100px
  margin 15px auto
  border-width 4px
  border-color white

.navbar-custom
  position absolute
  top 0
  left 0
  width 100%
  z-index 3
  @extend .sans-serif
  .navbar-brand
    font-weight 800
  .nav
    li
      a
        text-transform uppercase
        font-size 12px
        font-weight 800
        letter-spacing 1px
        text-decoration none
  @media only screen and (min-width: 768px)
    background transparent
    border-bottom 1px solid transparent
    .navbar-brand
      color white
      padding 20px
      &:hover, &:focus
        color white-faded
    .nav
      li
        a
          color white
          padding 20px
          &:hover, &:focus
            color white-faded
  @media only screen and (min-width: 1170px)
    -webkit-transition background-color 0.3s
    -moz-transition background-color 0.3s
    transition background-color 0.3s
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform translate3d(0, 0, 0)
    -moz-transform translate3d(0, 0, 0)
    -ms-transform translate3d(0, 0, 0)
    -o-transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)
    -webkit-backface-visibility hidden
    backface-visibility hidden
    &.is-fixed
      /* when the user scrolls down, we hide the header right above the viewport */
      position fixed
      top -61px
      background-color rgba(255, 255, 255, 0.9)
      border-bottom 1px solid darken(rgb(255, 255, 255, 1), 5%)
      -webkit-transition -webkit-transform 0.3s
      -moz-transition -moz-transform 0.3s
      transition transform 0.3s
      .navbar-brand
        color gray-dark
        &:hover, &:focus
          color brand-primary
      .nav
        li
          a
            color gray-dark
            &:hover, &:focus
              color brand-primary
    &.is-visible
      /* if the user changes the scrolling direction, we show the header */
      -webkit-transform translate3d(0, 100%, 0)
      -moz-transform translate3d(0, 100%, 0)
      -ms-transform translate3d(0, 100%, 0)
      -o-transform translate3d(0, 100%, 0)
      transform translate3d(0, 100%, 0)

.intro-header
  background-color gray
  background-position center center
  background-attachment scroll
  @extend .background-cover
  margin-bottom 30px
  .site-heading, .post-heading, .page-heading
    padding 100px 0 50px
    color white
    @media only screen and (min-width: 768px)
      padding 250px 0 60px 0
    &.archives
      color brand-primary
      margin-top 60px
  .site-heading, .page-heading
    text-align center
    h1
      margin-top 0
      font-size 50px
    .subheading
      font-size 24px
      line-height 1.1
      display block
      @extend .sans-serif
      font-weight 300
      margin 10px 0 0
    @media only screen and (min-width: 768px)
      h1
        font-size 80px
  .post-heading
    h1
      font-size 35px
    .subheading, .meta
      line-height 1.1
      display block
    .subheading
      @extend .sans-serif
      font-size 24px
      margin 10px 0 30px
      font-weight 600
    .meta
      @extend .serif
      font-style italic
      font-weight 300
      font-size 20px
      a
        color white
    @media only screen and (min-width: 768px)
      h1
        font-size 55px
      .subheading
        font-size 30px

.post-preview
  > .post-header
    > a
      color gray-dark
      &:hover, &:focus
        text-decoration none
        color brand-primary
      > .post-title
        font-size 30px
        margin-top 30px
        margin-bottom 10px
        &.archive
          font-size 22px
      > .post-subtitle
        margin 0
        font-weight 300
        margin-bottom 10px
    > .post-meta
      color gray
      font-size 18px
      font-style italic
      margin 0
      &.archive
        font-size 16px
      > a
        text-decoration none
        color gray-dark
        &:hover, &:focus
          color brand-primary
    @media only screen and (min-width: 768px)
      > a
        > .post-title
          font-size 36px
        
  > .post-read-more
    margin 20px 0
    text-align right

  border-bottom #EBF2F6 1px solid
  margin 10px 0
  padding 10px 0
  &:last-child
    border none

.section-heading
  font-size 36px
  margin-top 60px
  font-weight 700

.caption
  text-align center
  font-size 14px
  padding 10px
  font-style italic
  margin 0
  display block
  border-bottom-right-radius 5px
  border-bottom-left-radius 5px

.post-tags, .post-categories
  font-size 15px
  margin-top 30px
  margin-bottom 30px
  a
    border-bottom 1px dotted #ABABAB
    text-transform uppercase
    margin-right 10px
    &:hover, &:visited, &:active
      text-decoration none
      border-bottom none

.archive-before-pagination
  height 30px

  
footer.site-footer
  position relative
  margin 4rem 0 0 0
  padding 4rem 0
  border-top #ebf2f6 1px solid
  font-family 'Open Sans', sans-serif
  font-size 1.5rem
  line-height 1.7em
  color #9EABB3
  text-align center
  background #f7fafb

  a
    color #BBC7CC
    text-decoration underline
  a:hover
    color #50585D

  .poweredby
    ul
      list-style none

      li
        display inline-block
        padding 0 5px
        &::after
          margin-left 8px
          content '•'
        &:last-child::after
          content: ''
          margin 0

.poweredby.icon-ghost
  font-weight 700
  text-decoration none
  
  &:hover
    text-decoration none
  &:before
    font-size 1rem
    margin-right 0.2em

.floating-label-form-group
  font-size 14px
  position relative
  margin-bottom 0
  padding-bottom 0.5em
  border-bottom 1px solid gray-light
  input, textarea
    z-index 1
    position relative
    padding-right 0
    padding-left 0
    border none
    border-radius 0
    font-size 1.5em
    background none
    box-shadow none !important
    resize none
  label
    display block
    z-index 0
    position relative
    top 2em
    margin 0
    font-size 0.85em
    line-height 1.764705882em
    vertical-align middle
    vertical-align baseline
    opacity 0
    -webkit-transition top 0.3s ease,opacity 0.3s ease
    -moz-transition top 0.3s ease,opacity 0.3s ease
    -ms-transition top 0.3s ease,opacity 0.3s ease
    transition top 0.3s ease,opacity 0.3s ease
  &::not(:first-child)
    padding-left 14px
    border-left 1px solid gray-light

.floating-label-form-group-with-value
  label
    top 0
    opacity 1

.floating-label-form-group-with-focus
  label
    color brand-primary

form .row:first-child .floating-label-form-group
  border-top 1px solid gray-light

.btn
  font-family 'Open Sans', sans-serif
  font-size 1.3rem
  color #9EABB3
  text-align center
  display inline-block
  padding 10px 15px
  border #ebf2f6 2px solid
  text-decoration none
  border-radius 30px
  transition border ease 0.3s

.btn-lg
  font-size 16px
  padding 25px 35px

.btn
  &:hover, &:focus
    border-color #9EABB3
    background none
    color #9EABB3

.pager
  margin 20px 0 0
  li
    > a, > span
      @extend .sans-serif
      text-transform uppercase
      font-size 14px
      font-weight 800
      letter-spacing 1px
      padding 15px 25px
      background-color white
      border-radius 0
    > a:hover, > a:focus
      color white
      background-color brand-primary
      border 1px solid brand-primary
  .disabled
    > a, > a:hover, > a:focus, > span
      color gray
      background-color gray-dark
      cursor not-allowed

.archive-list
  li
    list-style none
    padding 5px 0
    overflow hidden

    span.post-meta
      color #808080
      margin-right 25px
      font-style italic

    a.post-title
      text-decoration none
      font-family 'Open Sans', sans-serif
      font-weight 700
      font-size 1.7rem

::-moz-selection
  color white
  text-shadow none
  background brand-primary

::selection
  color white
  text-shadow none
  background brand-primary

img::selection
  color white
  background transparent

img::-moz-selection
  color white
  background transparent

body
  webkit-tap-highlight-color brand-primary

code
  font-size 0.8em
  background #ebf2f6
  color #4271ae
  font-family font-mono

a.pre
  text-decoration none

img.avatar-img
  border-radius 50%

pre
  border-radius 0
  border none
  background-color transparent
  padding 0
  color #ccc

  code
    white-space pre

.hljs
  padding 10px 15px
  font-family "Droid Sans Mono", "Source Code Pro", monospace
  font-weight 400
  font-size 1.1em
  line-height 1.4

  @media only screen and (max-width: 767px)
    font-size 0.9em

.hljs-keyword, .hljs-selector-tag, .hljs-deletion
  font-weight 700

blockquote
  background #fff7e8
  border-left-color #ffd68a
  font-size 0.8em
  margin 20px 0
  >p
    margin-top 10px