@import "base.styl"
@import "article.styl"

.formkit-form
  margin 40px auto !important
  box-shadow #e3e3e3 0 0 10px !important
  border 1px solid #ddd !important
  sans-serif()

  .formkit-background
    border-right 1px solid #ddd !important

  h1
    color #777a77 !important
    font-size 1.8rem !important
    font-weight 900 !important
    padding 0 0 0 0 !important
    margin 0 !important
    line-height 2.7rem
