@import "base.styl"
@import "article.styl"

.formkit-form
  padding 40px 50px !important
  margin 30px auto !important

  div[data-style="minimal"]
    padding 0 !important

  h1
    color #777a77 !important
    font-size 2.8rem !important
    font-weight 900 !important
    padding 0 0 0 0 !important
    margin 0 !important
