
brand-primary = rgb(0, 133, 161, 1)
brand-primary-hover = #8ebbd3
gray-dark = lighten(rgb(0, 0, 0, 1), 25%)
gray = lighten(rgb(0, 0, 0, 1), 50%)
white-faded = rgba(255, 255, 255, .8)
gray-light = rgb(238, 238, 238, 1)
color-border = #ddd
color-meta = #ccc
color-gutter = #666
color-red = #c60600
color-yellow = #ffd100
color-black = #292929
color-social-link = #888f9f
color-orange = #ffad33
color-gray = #6a6d70

font-mono = "Source Code Pro", Monaco, Menlo, Consolas, Courier New, monospace
font-serif = "Georgia", serif
